URLS: list[tuple[str, str]] = [
    # ---- Bucket 1: Lux (Creed / Dior / Frederic Malle)
    ('lux-creed-royal-water', 'https://goldapple.kz/26543200002-creed-royal-water'),
    ('lux-creed-carmina', 'https://goldapple.kz/19000491423-creed-carmina'),
    ('lux-creed-queen-of-silk', 'https://goldapple.kz/19000491455-creed-queen-of-silk'),
    ('lux-creed-aventus-for-her', 'https://goldapple.kz/19000491450-creed-aventus-for-her'),
    ('lux-creed-aventus', 'https://goldapple.kz/19000491449-creed-aventus'),
    ('lux-creed-millesime-imperial', 'https://goldapple.kz/19000491426-creed-millesime-imperial'),
    # ---- Bucket 2: Mass-market (Armani [armani-code FORCED Bug#2] / Givenchy / Hugo / Boss)
    ('mass-armani-code', 'https://goldapple.kz/19000195723-armani-code'),
    ('mass-armani-prive-orangerie-venise', 'https://goldapple.kz/26600200023-armani-prive-orangerie-venise'),
    ('mass-givenchy-pour-homme-blue-label', 'https://goldapple.kz/7681000002-givenchy-pour-homme-blue-label'),
    ('mass-givenchy-gentleman-reserve-privee-eau-de-parfum', 'https://goldapple.kz/19000032744-givenchy-gentleman-reserve-privee-eau-de-parfum'),
    ('mass-givenchy-pour-homme', 'https://goldapple.kz/7680200024-givenchy-pour-homme'),
    ('mass-givenchy-irresistible-nectar', 'https://goldapple.kz/19000488687-givenchy-irresistible-nectar'),
    # ---- Bucket 3: Niche (STEREOTYPE [Bug#1+#2 FORCED] / sago [FORCED] / Byredo / Kilian / Memo)
    ('niche-stereotype-flow', 'https://goldapple.kz/19000440471-stereotype-flow'),
    ('niche-stereotype-brace', 'https://goldapple.kz/19000440472-stereotype-brace'),
    ('niche-stereotype-unframe', 'https://goldapple.kz/19000440473-stereotype-unframe'),
    ('niche-stereotype-sago', 'https://goldapple.kz/19000440474-stereotype-sago'),
    ('niche-sago', 'https://goldapple.kz/19000331477-sago'),
    ('niche-byredo-alto-astral', 'https://goldapple.kz/19000495948-byredo-alto-astral'),
    # ---- Bucket 4: RU-brands (Black Pearl / Natura Siberica / Sibirskie Travy)
    ('ru-black-pearl', 'https://goldapple.kz/19000026808-black-pearl'),
    ('ru-black-pearl-eye-cream', 'https://goldapple.kz/41160100001-black-pearl-eye-cream'),
    ('ru-black-pearl-gold-hydrogel-eye-patch', 'https://goldapple.kz/99690100008-black-pearl-gold-hydrogel-eye-patch'),
    ('ru-natura-siberica-total-renewal', 'https://goldapple.kz/19000491752-natura-siberica-total-renewal'),
    ('ru-natura-siberica-refresh-scalp', 'https://goldapple.kz/19000491787-natura-siberica-refresh-scalp'),
    ('ru-sibirskie-travy', 'https://goldapple.kz/30013000004-sibirskie-travy'),
    # ---- Bucket 5: Multi-word (Maison Margiela / Calvin Klein / Carolina Herrera / Kilian-Paris)
    ('multi-maison-margiela-set-replica-jazz-club', 'https://goldapple.kz/19000223943-maison-margiela-set-replica-jazz-club'),
    ('multi-maison-margiela-replica-ideal-one', 'https://goldapple.kz/19000479467-maison-margiela-replica-ideal-one'),
    ('multi-calvin-klein-silky-coconut', 'https://goldapple.kz/19000507676-calvin-klein-silky-coconut'),
    ('multi-calvin-klein-nude-vanilla', 'https://goldapple.kz/19000507674-calvin-klein-nude-vanilla'),
    ('multi-calvin-klein-sheer-peach', 'https://goldapple.kz/19000507675-calvin-klein-sheer-peach'),
    ('multi-calvin-klein-cotton-musk', 'https://goldapple.kz/19000507673-calvin-klein-cotton-musk'),
]
# Total sampled: 30/30